*{
    scroll-behavior: smooth;
    border: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 647;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
}
/* nav block */
body{
    background-color: black
}
.nav-block{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.nav-text-p{
    text-align: center;
    font-size: 96px;
    color: #fff;
}
.nav-button{
    position:relative;
    width: 130px;
    height: 40px;
}
.main-line{
    position: absolute  ;
    top: 20px;
    width: 120px;
    height: 5px;
    background-color: #fff;
}
.top-line{
    width: 35px;
    height: 5px;
    position: absolute;
    transform: rotate(30deg);
    top: 12px;
    left: 90px;
    background-color: #fff;
}
.under-line{
    width: 35px;
    height: 5px;
    position: absolute;
    transform: rotate(-30deg);
    top: 28px;
    left: 90px;
    background-color: #fff;
}

/* MAIN BLOCK */

.main-block{
    top: 100%;
    position:absolute;
    width: 100%;
    height: 100vh;
    right:100%;
}
.nav-main-block{
    display: flex;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.text-nav-main-block-p{
    font-size: 56px;
    text-align: center;
}
.links-nav-main-block{
    display: flex;
    flex-direction: column;
}
.links-nav-main-block,a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transition: .5s;
}
.links-nav-main-block,a:hover{
    color: #b59999;
}

.pyton-block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-text-pyton-p{
    color: #fff;
    font-size: 96px;
    
}
.secondary-text-pyton{
    width: 55%;
    text-align: center;
}
.secondary-text-pyton-p{
    color: #fff;
    font-size: 36px;
}
.documentation-link{
    display: flex;
    width: 75%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.documentation-text{
    color: #fff;
    font-size: 36px;
}
.documentation-pyton{
    text-decoration: underline;
}
.history-creater{
    display: flex;
    width: 50%;
    gap: 40px; 
}
.text-bar{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.main-text-bar-p{
    color: #fff;
    font-size: 36px;
}
.second-text-bar{
    color: #fff;
    font-size: 23px;
}
.history-development{
    display: flex;
    gap: 20px;
    width: 50%;
    flex-direction: column;
}
.heading-p{
    font-size: 36px;
}
.component-list{
    font-size: 24px;
}
.tasks{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}
.tasks-head{
    width: 100%;
    text-align: center;
}
.task-component{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.tasks-head-p{
    font-size: 48px;
}
.task-component-head-p{
    font-size: 32px;
}
.task-component-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.task-component-list{
    font-size: 30px;
    width: 70%;
}
.sample-code-head-p{
    font-size: 36px;
}
.sample-code{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.sample-code-img{
    width: 100%;
    border-radius: 25px;
}
.image-bar{
    display: flex;
    background-color: #000000;
    align-items: center;
}
.image-bar-img{
    max-width: 415px;
}
.back-link{
    display: flex;
    align-items: center;
}
.back-link-a{
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.spanimg{
    width: 70px;
}
@media(max-width: 1800px){
    .history-creater{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .documentation-link{
        flex-direction: column;
    }
}
@media(max-width: 1000px){
    .nav-text-p{
        font-size: 76px;
    }
    .tasks{
        width: 75%;
    }
    .history-creater{
        width: 75%;
    }
    .secondary-text-pyton{
        width: 90%;
    }
    .history-development{
        width: 75%;
    }
    .sample-code{
        width: 80%;
    }
}
@media(max-width: 1000px){
    .nav-text-p{
        font-size: 56px;
    }
    .nav-links-list{
        font-size: 60px;
    }
    .secondary-text-pyton-p{
        font-size: 30px;
    }
}
@media(max-width: 640px){
    .main-text-pyton-p{
            font-size: 76px;
    }
    .spanimg{
        width: 60px;
    }
    .text-nav-main-block-p{
        font-size: 36px;
    }
}
@media(max-width: 520px){
    .nav-text-p{
        font-size: 36px;
    }
    .back-link-a{
        font-size: 30px;
    }
    .main-text-pyton-p{
            font-size: 56px;
    }
}
@media(max-width: 410px){
    *,a,*p{
        font-size: 20px;
    }
}











