*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: black
}
.nav-block{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.nav-text-p{
    font-size: 40px;
    color: #fff;

}
.nav-button{
    position:relative;
}
.main-line{
    width: 120px;
    height: 5px;
    background-color: #fff;
}
.top-line{
    width: 35px;
    height: 5px;
    position: absolute;
    transform: rotate(30deg);
    top: -8px;
    left: 90px;
    background-color: #fff;
}
.under-line{
    width: 35px;
    height: 5px;
    position: absolute;
    transform: rotate(-30deg);
    top: 8px;
    left: 90px;
    background-color: #fff;
}